doctype xml
svg(
  xmlns='http://www.w3.org/2000/svg'
  width='200'
  height='200'
)
  style.
    .text{font:bold 110px serif;fill:gold;}
  rect(x='5',y='5',width='190',height='190',rx='30',ry='90',fill='#419')
  text(x='25',y='90',class='text') TL
  text(x='25',y='180',class='text') RC

